@font-face {
    font-family: "SmoochSans";
    src: url("font\\SmoochSans-Bold.ttf");
  }
  
body{
    background: rgb(78,153,209);
    background: linear-gradient(59deg, rgba(78,153,209,0.9248074229691877) 7%,
     rgba(80,231,224,0.7819502801120448) 47%, rgba(195,27,191,0.5886729691876751) 76%);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

main{
    width: 100%;
    height: 100%;
    padding-top: 4vh;
    box-sizing: border-box;
}

main #text{
    text-align: center;
    font-family: "SmoochSans", arial;
    font-size: 1.6em;
}

#container-temperatura{
    max-width: 100%;
    width: 100%;
}

#container-resultado{
    max-width: 100%;
    width: 100%;
}

.input{
    position: relative;
    width: 93%;
    font-size: 16px;
    border-width: 1px;
    border-color: #0034ed;
    background-color: #ffffff;
    color: #000000;
    border-style: solid;
    border-radius: 7px;
    box-shadow: 0px 0px 13px rgba(0,0,0,.75);
    box-shadow: inset 1px 1px 13px rgba(34, 129, 184, 0.493);
    max-width: 100%;
    padding: 1vw;
    margin-bottom: .5em;
}
.input:focus{
    outline:none;
}

.container-select {
    position: relative;
    display: inline-block;
    margin-bottom: 1.5em;
    width: 100%;
}    

.container-select select {
        font-family: 'Arial';
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 10px 15px;
        outline: 0;
        border: 1px solid #001dff;
        border-radius: 7px;
        background: #ffffff;
        color: #7b7b7b;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
}

.container-select select::-ms-expand {
    display: none;
}

.container-select select:hover,
.container-select select:focus {
    color: #0017ff;
    background: #ffffff;
}

.container-select select:disabled {
    opacity: 0.4;
    pointer-events: none;
}

.select_arrow{
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0px;
    height: 0px;
    border: solid #0027ff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.container-select select:hover ~ .select_arrow,
.container-select select:focus ~ .select_arrow {
    border-color: #000000;
}

.container-select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}

.container-submit{
    width: 100%;
    max-width: 100%;
}

.btn {
	box-shadow:inset 0px 0px 11px 6px #5a9ad6;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:10px 40px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
    width: 100%;
    max-width: 100%;
}
.btn:hover {
	background:linear-gradient(to bottom, #37d9e5 5%, #79d5ff 100%);
}
.btn:active {
	position:relative;
	top:1px;
}

#limpar{
    margin-top: 1vh;
}

#container{
    display: flex;
    flex-wrap: wrap;
    max-width: 30%;
    margin: auto;
}
